---
layout: page
title: grow:up
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">DAS BANKKONTO FÜR <br> ELTERN  &#38 KINDER</h1>
          <p class="animated fadeInUp">grow:up unterstützt Jugendliche dabei den Umgang mit Geld zu lernen. <br> Make the young generation financially confident.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Unsere Mission: Eltern dabei zu unterstützen ihre Kids zu finanzieller Selbstständigkeit zu erziehen.</h2>
          </div>
          <p>Hier steht noch ein Text, der zu der Überschrift passt.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Transaktionen einsehen und Limite setzen</h2>
      <p>Du willst wissen wofür deine Kids ihr Taschengeld ausgeben? Setze Limite für die Ausgaben und behalte diese im Blick in dem du dich per Push Benachrichtigung informieren lässt.</p>
     </div>
  </div>
</div>
</section>

<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Das virtuelle Sparschwein: Mit grow:up Taschengeld und Erspartes einfach verwalten</h2>
          </div>
          <p>Über separate Zugänge für Eltern und Kinder habt ihr jederzeit den vollen Überblick über das Ersparte und die Ausgaben. Das Taschengeld wird regelmäßig auf das Konto des Kindes überwiesen &#045 pünktlich und bargeldlos ohne die Suche nach dem passenden Kleingeld. </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Wunschzettel anlegen und auf Ziele sparen</h2>
      <p>Erstelle einen Wunschzettel und lass dich beim Kauf deiner Wünsche unterstützen. Lege Sparziele an und spare regelmäßig einen Betrag deines Taschengeldes um dir deinen Wunsch bald erfüllen zu können.</p>
      <a href="{{ site.baseurl }}/download" class="btn btn-view-works">Download der App</a>
    </div>
  </div>
</div>
</section>

<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Du möchtest dein Taschengeld smart verwalten?</h2>
          <h2>Registriere dich für die Betaphase und teste die App!</h2>  
<!-- Anmelden form start -->
<section id="contact-form">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Dein Name">
            </div>
           </form>
        </div> <!-- .col-md-6 close -->
      </div>
	  <div class="col-md-6 col-sm-12">
        <div class="block">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Deine Email">
            </div>
           </form>
        </div>
      </div> <!-- .col-md-6 close -->
     <div class="row">
	  <div class="col-md-6 col-sm-12">
        <div class="block">
		  <div class="text-center">
		   <form>
            <button class="btn btn-default btn-call-to-action" type="submit">Anmelden</button>
          </form>
		   </div>
        </div>
      </div>
    </div>
	</div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
			    <span class="iconify" data-icon="{{ ff.icon }}"></span>
                <!--<i class="{{ ff.icon }}"></i>-->
                <h3 class="counter">{{ ff.counter }}</h3>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="People">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
